[Desktop Entry]
Type=Application
Version=1.0
Name=Merkaartor
GenericName=OpenStreetMap Editor
GenericName[fr]=Un éditeur pour OpenStreetMap
GenericName[tr]=Açık Sokak Haritası Düzenleyicisi
Icon=merkaartor
Exec=merkaartor
Terminal=false
StartupNotify=false
Categories=Geography;Network;Qt;

